.navbar {
  display: flex;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  align-items: center;
  font-size: 15px;
  color: #333;
  height: 50px;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    .search {
      display: flex;
      padding: 3px;
      border: 0.5px solid lightgray;
      align-items: center;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        .icon {
          font-size: 20px;
        }
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .counter{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            font-weight: bold;
            background-color: red;
            color: white;
            position: absolute;
            top: -5px;
            right: -5px;
        }
      }
    }
  }
}
